h3{
    text-align:center;
    margin-top:5%;
    margin-bottom:5%;
}
form button{
    text-align:center;
}
table{
    width:100%;
}
a.btn-primary{
    color:white;
}
a.btn-primary:hover{
    color:white;
}
td, tr, th{
    text-align: center;
}

form.insertForm{
    margin-bottom:5%;
}