<h3>
  Connection to mysql database
</h3>
<div class="container">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Server ip address</label>
        <input type="text" #ipServer class="form-control" id="serveripaddress" value="172.17.0.2">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Server port</label>
        <input type="number" #portServer class="form-control" id="serverport" value="3306">
      </div>
      <div class="form-group">
        <label for="user">User</label>
        <input type="text" #userServer class="form-control" value="root" >
      </div>
      <div class="form-group">
        <label for="pw">Password</label>
        <input type="password" #pwServer class="form-control" value="secret">
      </div>
      <div class="form-group">
          <label for="pw">Database</label>
          <input type="text" #dbName class="form-control" value="employees">
      </div>
      <div class="form-group">
          <label for="requestType">Type of request</label>
          <select name="requestType" #requestType>
            <option value="SELECT">SELECT</option>
            <option value="UPDATE">UPDATE</option>
            <option value="DELETE">DELETE</option>   
            <option value="INSERT">INSERT</option> 
          </select>
        </div>
      <div class="form-group">
        <label for="sql">Requête SQL</label>
        <input type="text" #sql class="form-control" value="select * from employees order by emp_no asc limit 5;">
      </div>
      <a class="btn btn-primary" (click)="connect(ipServer.value, portServer.value, userServer.value, 
        pwServer.value, dbName.value, requestType.value, sql.value)">
        Connect
      </a>
    </form>
  </div>
  <notifier-container></notifier-container>
  <div *ngIf="connected==1">
    <h3>Resultat de la requête</h3>
      <div *ngIf="insertActivated==1">
        <h4>
          Formulaire d'insertion
        </h4>
        <form class="insertForm" name="formI">
          <div class="form-group" *ngFor="let insertType of insertTypes; let i = index">
              <label for="">{{insertType[0]}}</label>
              <input  class="form-control" id="{{insertType[0]}}" [name]="insertType[0]" 
              [type]="insertType[1]">
          </div>
          <a class="btn btn-primary" (click)="insertEntry()" >Insert</a>
        </form>
      </div>
      <div *ngIf="updateActivated==1">
          <h4>
            Formulaire d'update
          </h4>
          <form class="insertForm" name="formU">
            <div class="form-group" *ngFor="let insertType of insertTypes; let i = index">
                <label for="">{{insertType[0]}}</label>
                <input  class="form-control" id="{{insertType[0]}}" #{{insertType[0]}} 
                name="{{insertType[0]}}" [type]="insertType[1]" [value]="arrayUpdate[i]">
            </div>
            <a class="btn btn-primary" (click)="updateEntry()" >Update</a>
          </form>
        </div>
      <table class="table table-dark">
        <tr>
          <th cope="col">
            actions
            <button type="button" class="btn btn-light" (click)="FormEntry()">INS</button>
          </th>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let column of columns">
            {{column}}
          </th>
        </tr>
        <tr *ngFor="let data of datas; let i = index"> 
          <button type="button" class="btn btn-light" (click)="FormUpdate(i)">UPD</button>
          <button type="button" class="btn btn-light" (click)="deleteEntry(i)">DEL</button>
          <th scope="row">{{i}}</th>
            <td cope="row" *ngFor="let column of columns; let j = index">
              {{arrayParams[i][j]}}
            </td>
        </tr> 
      </table>
  </div>
</div>

