<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Db Connector</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="displayBase(1)">MySQL Server <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" (click)="displayBase(2)">PostgreSQL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" (click)="displayBase(3)" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MongoDB
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">?</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div style="text-align:center">
  <h1>
    Angular DB connector
  </h1>
</div>
<div *ngIf="base==1">
    <app-mysql></app-mysql>
</div>
<div *ngIf="base==2">
  <app-postgresql></app-postgresql>
</div>
<div *ngIf="base==3">
  <app-mongodb></app-mongodb>
</div>



